body{
 margin: 0;
  }

header{
  background-color: rgb(69, 241, 162);
  height: 10vh;
  position: absolute;
  width: 100%;
}

  /*.logo{
  position: absolute;*/
  /*in order tween the left or top properties of an element,
  it must have postion set to absolute,relative or fixed*/
  /*width: 200px;
}



.boxes{
  display: flex;
  position: absolute;
  justify-content: space-between;
  margin-left: 50px;

}
.box{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 15px;
}*/
